--
-- PostgreSQL database dump
--

-- Dumped from database version 14.5 (Debian 14.5-1.pgdg110+1)
-- Dumped by pg_dump version 14.4 (Debian 14.4-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: agreement_categories; Type: TABLE DATA; Schema: portal; Owner: portal
--

COPY portal.agreement_categories (id, label) FROM stdin;
1	CX_FRAME_CONTRACT
2	APP_CONTRACT
3	DATA_CONTRACT
\.


--
-- Data for Name: app_statuses; Type: TABLE DATA; Schema: portal; Owner: portal
--

COPY portal.app_statuses (id, label) FROM stdin;
1	CREATED
2	IN_REVIEW
3	ACTIVE
4	INACTIVE
\.


--
-- Data for Name: app_subscription_statuses; Type: TABLE DATA; Schema: portal; Owner: portal
--

COPY portal.app_subscription_statuses (id, label) FROM stdin;
1	PENDING
2	ACTIVE
3	INACTIVE
\.


--
-- Data for Name: audit_company_assigned_apps_cplp_1254_db_audit; Type: TABLE DATA; Schema: portal; Owner: portal
--

COPY portal.audit_company_assigned_apps_cplp_1254_db_audit (id, audit_id, date_last_changed, audit_operation_id, company_id, app_id, app_subscription_status_id, requester_id, last_editor_id) FROM stdin;
\.


--
-- Data for Name: company_user_statuses; Type: TABLE DATA; Schema: portal; Owner: portal
--

COPY portal.company_user_statuses (id, label) FROM stdin;
1	ACTIVE
2	INACTIVE
\.


--
-- Data for Name: audit_company_users_cplp_1254_db_audit; Type: TABLE DATA; Schema: portal; Owner: portal
--

COPY portal.audit_company_users_cplp_1254_db_audit (id, audit_id, audit_operation_id, date_last_changed, date_created, email, firstname, lastlogin, lastname, company_id, company_user_status_id, last_editor_id) FROM stdin;
\.


--
-- Data for Name: audit_operation; Type: TABLE DATA; Schema: portal; Owner: portal
--

COPY portal.audit_operation (id, label) FROM stdin;
1	INSERT
2	UPDATE
3	DELETE
\.


--
-- Data for Name: company_application_statuses; Type: TABLE DATA; Schema: portal; Owner: portal
--

COPY portal.company_application_statuses (id, label) FROM stdin;
1	CREATED
2	ADD_COMPANY_DATA
3	INVITE_USER
4	SELECT_COMPANY_ROLE
5	UPLOAD_DOCUMENTS
6	VERIFY
7	SUBMITTED
8	CONFIRMED
9	DECLINED
\.


--
-- Data for Name: company_roles; Type: TABLE DATA; Schema: portal; Owner: portal
--

COPY portal.company_roles (id, label) FROM stdin;
1	ACTIVE_PARTICIPANT
2	APP_PROVIDER
3	SERVICE_PROVIDER
\.


--
-- Data for Name: languages; Type: TABLE DATA; Schema: portal; Owner: portal
--

COPY portal.languages (short_name, long_name_de, long_name_en) FROM stdin;
de	deutsch	german
en	englisch	english
pt	portugisisch	portuguese
es	spanisch	spanish
fr	franzoesisch	french
ru	russisch	russian
jp	japanisch	japanese
cn	chinesisch	chinese
\.


--
-- Data for Name: company_role_descriptions; Type: TABLE DATA; Schema: portal; Owner: portal
--



--
-- Data for Name: company_service_account_statuses; Type: TABLE DATA; Schema: portal; Owner: portal
--

COPY portal.company_service_account_statuses (id, label) FROM stdin;
1	ACTIVE
2	INACTIVE
\.


--
-- Data for Name: company_statuses; Type: TABLE DATA; Schema: portal; Owner: portal
--

COPY portal.company_statuses (id, label) FROM stdin;
1	PENDING
2	ACTIVE
3	REJECTED
4	INACTIVE
\.


--
-- Data for Name: connector_statuses; Type: TABLE DATA; Schema: portal; Owner: portal
--

COPY portal.connector_statuses (id, label) FROM stdin;
1	PENDING
2	ACTIVE
\.


--
-- Data for Name: connector_types; Type: TABLE DATA; Schema: portal; Owner: portal
--

COPY portal.connector_types (id, label) FROM stdin;
1	COMPANY_CONNECTOR
2	CONNECTOR_AS_A_SERVICE
\.


--
-- Data for Name: consent_statuses; Type: TABLE DATA; Schema: portal; Owner: portal
--

COPY portal.consent_statuses (id, label) FROM stdin;
1	ACTIVE
2	INACTIVE
\.


--
-- Data for Name: countries; Type: TABLE DATA; Schema: portal; Owner: portal
--



--
-- Data for Name: document_status; Type: TABLE DATA; Schema: portal; Owner: portal
--

COPY portal.document_status (id, label) FROM stdin;
1	PENDING
2	LOCKED
3	INACTIVE
\.


--
-- Data for Name: document_types; Type: TABLE DATA; Schema: portal; Owner: portal
--

COPY portal.document_types (id, label) FROM stdin;
1	CX_FRAME_CONTRACT
2	COMMERCIAL_REGISTER_EXTRACT
3	APP_CONTRACT
4	DATA_CONTRACT
\.


--
-- Data for Name: identity_provider_categories; Type: TABLE DATA; Schema: portal; Owner: portal
--

COPY portal.identity_provider_categories (id, label) FROM stdin;
1	KEYCLOAK_SHARED
2	KEYCLOAK_OIDC
3	KEYCLOAK_SAML
\.


--
-- Data for Name: invitation_statuses; Type: TABLE DATA; Schema: portal; Owner: portal
--

COPY portal.invitation_statuses (id, label) FROM stdin;
1	CREATED
2	PENDING
3	ACCEPTED
4	DECLINED
\.


--
-- Data for Name: notification_type; Type: TABLE DATA; Schema: portal; Owner: portal
--

COPY portal.notification_type (id, label) FROM stdin;
1	INFO
2	ACTION
3	WELCOME
4	WELCOME_USE_CASES
5	WELCOME_SERVICE_PROVIDER
6	WELCOME_CONNECTOR_REGISTRATION
7	WELCOME_APP_MARKETPLACE
8	APP_SUBSCRIPTION_REQUEST
9	APP_SUBSCRIPTION_ACTIVATION
10	CONNECTOR_REGISTERED
\.


--
-- Data for Name: use_cases; Type: TABLE DATA; Schema: portal; Owner: portal
--



--
-- PostgreSQL database dump complete
--

